{% extends "layout.html" %}

{% block title %} Duration Calculation {% endblock %}

{% block main %}
<div class="row align-items-center">
    <div class="col pb-3 embed-responsive embed-responsive-16by9">
        {% if match_type == "playlist" %}
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list={{id}}"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        {% elif match_type == "video" %}
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{id}}" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        {% endif %}
    </div>

    <div class="col pb-3">
        <p> Current speed: <span id="speed">1</span>x </p>
        <p> Current duration: <span id="duration">{{duration}}</span></p>
        <div class="slidecontainer">
            <input type="range" min="0.2" max="5" value="1" step="0.1" class="slider" id="durationSlider">
        </div>
    </div>
</div>
{% endblock %}